<ion-view title="Home" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="">
            <img src="img/5PaJ5QiQQaEXavLVRXAY_logo-smart-gpcm.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 748px; height: 16px;"></div>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="menu.patients" id="home-button1" style="font-weight:600;font-size:25px;" class=" button button-positive  button-block ">Enter</a>
        <div class="spacer" style="width: 748px; height: 316px;"></div>
        <div class="">
            <img src="img/Wqevy1y7R3634ss9pJnL_footer-vanderbilt.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
    </ion-content>
</ion-view>