<ion-view title="TP53 Gene Variants" id="page9" class=" ">
    <ion-content padding="true" class="has-header">
      <!--<html>-->
      <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/app.js"></script>
      </head>
          <body>

                <div ng-app="app" ng-controller="MyCtrl">

              <!-- Plots go in blank <div> elements.
                You can size them in the plot layout,
                or give the div a size as shown here.
              -->
              <!--<ul>
              <li ng-repeat="x in myVariants">
                {{ x.Mutation + ', ' + x.Count }}
              </li>
            </ul> -->
              <div id="tester" style="width:1000px;min-height:100%;"></div>

              </div>

          <body>

    </ion-content>
</ion-view>
